InvoicingApp/Service References/FileService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="FileTransportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IFileTransportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileTransportService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="UploadFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransportService/GetFileList" message="tns:IFileTransportService_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransportService/GetFileListResponse" message="tns:IFileTransportService_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransportService/GetFile" message="tns:IFileTransportService_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransportService/GetFileResponse" message="tns:IFileTransportService_GetFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileTransportService" type="tns:IFileTransportService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IFileTransportService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="UploadFile" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="FileName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap:operation soapAction="http://tempuri.org/IFileTransportService/GetFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransportService/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransportService">
    <wsdl:port name="BasicHttpBinding_IFileTransportService" binding="tns:BasicHttpBinding_IFileTransportService">
      <soap:address location="http://219.149.220.9/FileUpLoad/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>